<div style="text-align: center;">
    <p>Gracias por realizar su compra!</p>
    <p>para confirmarla haga click en el siguiente link e ingrese el código: <strong>{{purchase.token}}</strong></p>
    <a href="{{url}}">click aqui</a>
</div>
